<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-12 col-md-8 col-lg-9 mb-3 mb-md-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Welcome to StudyBud!</h5>
          <p class="card-text">Here you can find resources to help you learn and grow as a programmer. Check out our list of programming languages, or browse our collection of articles and tutorials.</p>
          <a href="#" class="btn btn-primary">Get started</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Rooms</h5>
          <p class="card-text">Join one of our study rooms to connect with other learners and work on projects together.</p>
          <a href="#" class="btn btn-primary">View rooms</a>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">Help and Support</h5>
          <p class="card-text">Need assistance with something? Contact our support team for help.</p>
          <a href="#" class="btn btn-primary">Get help</a>
        </div>
      </div>
    </div>
  </div>
</div>
