<!-- <div class="container">
    <app-sidebar></app-sidebar>
    <router-outlet></router-outlet>
</div> -->
<div>
  <app-topbar></app-topbar>
</div>
<div>
  <div class="container">
    <div class="sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<!-- app.component.html -->
<!-- <app-topbar></app-topbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-10">
      <app-body></app-body>
    </div>
  </div>
</div> -->

