
.post-container {
    border: 1px solid #ddd;
    background-color: #fff;
    margin-bottom: 16px;
    padding: 7rem;
    overflow: auto;
    width: 50rem;
  }
  
  .post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #ddd;
  }
  
  .post-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .post-date {
    color: #999;
    font-size: 14px;
  }
  
  .post-description {
    padding: 16px;
  }
  
  .post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-top: 1px solid #ddd;
  }
  
  .post-likes {
    color: #999;
    font-size: 14px;
    margin-right: 8px;
  }
  
  .post-comment-count {
    color: #999;
    font-size: 14px;
  }
  
  .post-footer button {
    background-color: transparent;
    border: none;
    color: #999;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .post-footer button:hover {
    text-decoration: underline;
  }
  
  /* Comment Section */
  .comment-container {
    margin-top: 16px;
    padding: 16px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  .comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .comment-title {
    font-size: 12px;
    color: gray;
  }
  
  .comment-count {
    color: #999;
    font-size: 14px;
  }
  
  .comment-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  
  .comment-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: vertical;
    outline: none;
  }
  
  .comment-form button {
    align-self: flex-end;
    background-color: #1877f2;
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
  }
  
  .comment {
    margin-bottom: 16px;
    display: flex;
  }
  
  .comment-avatar {
    width: 32px;
    height: 32px;
    margin-right: 16px;
  }
  
  .comment-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .comment-author {
    font-size: 16px;
    font-weight: bold;
    margin-right: 8px;
  }
  
  .comment-date {
    color: #999;
    font-size: 14px;
  }
  
  .comment-text {
    margin-top: 8px;
    font-size: 16px;
  }
  
  .comment-actions {
    margin-top: 8px;
    display: flex;
    align-items: center;
  }
  
  .comment-action {
    display: flex;
    align-items: center;
    margin-right: 16px;
    color: #1877f2;
    font-size: 14px;
    cursor: pointer;
  }
  
  .comment-action i {
    margin-right: 5px;
  }

  .add-post-btn {
    background-color: #3c3f47;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  
  .add-post-btn:hover {
    background-color: #1d5da5;
  }
  


  @media screen and (max-width: 768px) {
    .post-container {
      padding: 3rem;
    }
  
    .post-header {
      padding: 8px;
    }
  
    .post-title {
      font-size: 20px;
    }
  
    .post-date {
      font-size: 12px;
    }
  
    .post-description {
      padding: 8px;
    }
  
    .post-footer {
      padding: 8px;
    }
  
    .post-likes {
      font-size: 12px;
    }
  
    .post-comment-count {
      font-size: 12px;
    }
  
    .comment-container {
      padding: 8px;
    }
  
    .comment-form textarea {
      padding: 4px;
      font-size: 14px;
    }
  
    .comment-form button {
      padding: 4px 8px;
      font-size: 14px;
    }
  
    .comment-title {
      font-size: 10px;
    }
  
    .comment-count {
      font-size: 12px;
    }
  
    .comment-avatar {
      width: 24px;
      height: 24px;
    }
  
    .comment-author {
      font-size: 14px;
    }
  
    .comment-date {
      font-size: 12px;
    }
  
    .comment-text {
      font-size: 14px;
    }
  
    .comment-action {
      font-size: 12px;
    }
  }
  

