<!-- <h2>{{ post.name }}</h2>
<p>{{ post.description }}</p> -->
<!-- 
<h3>Posts</h3>
<ul>
  <li *ngFor="let post of posts">
    <h4>{{ post.header }}</h4>
    <p>{{ post.description }}</p>
    <button (click)="addComment(post, 'New Comment')">Add Comment</button>
    <ul>
      <li *ngFor="let comment of post.comments">{{ comment }}</li>
    </ul>
  </li>
</ul> -->
<div class="d-flex">
  <div class="container">
    <button *ngIf="!!id" class="add-post-btn" (click)="openCreatePostModal()">Create Post</button>
  
    <div>
      <div class="row">
        <div *ngFor="let post of posts" class="col-10">
          <div class="post-container">
            <div class="d-flex justify-content-end">
              <button role="button" (click)="enterRoom(post?.id)" class="btn btn-secondary">Enter Room</button>
            </div>
  
            <div class="post-header">
              <div class="post-title">{{ post?.name }}</div>
              <!-- <div class="post-date">March 1, 2023</div> -->
            </div>
            <div class="post-description">
              <p>{{ post?.description }}</p>
            </div>
            <div class="post-footer">
              <!-- <div class="post-likes">20 likes</div> -->
              <div class="post-comment-count">{{post?.comments?.length}} comments</div>
              <button class="post-comment-button" (click)="showCommentToggle(post)">Show Comments</button>
            </div>
            <div>
              <!-- <div class="comment-header">
                <div class="comment-title">Comments</div>
                <div class="comment-count">5 comments</div>
              </div> -->
              <div *ngIf="post.showComment">
                <!-- <pre>{{post | json}}</pre> -->
                <div *ngFor="let comment of post?.comments" class="comment">
                  <div class="comment-avatar">
                    <img src="https://via.placeholder.com/32" alt="avatar">
                  </div>
                  <div class="comment-content">
                    <div class="comment-header">
                      <div class="comment-author">{{comment?.comment_owner.email}}</div>
                      <div class="comment-date">March 2, 2023</div>
                    </div>
                    <div class="comment-text">
                      <p>{{comment?.body}}</p>
                    </div>
                    <div class="comment-actions">
                      <div class="comment-action">
                        <i class="fa fa-thumbs-up"></i>Like
                      </div>
                      <div class="comment-action">
                        <i class="fa fa-comment"></i>Reply
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <app-recent-activities></app-recent-activities>
  </div>
</div>
