<div class="container mt-4">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" [src]="profile?.image_url">
          <div class="card-body">
            <h5 class="card-title">{{profile?.first_name}} {{profile?.last_name}}</h5>
           <span>Email: &nbsp;</span> <span class="card-title">{{profile?.email}}</span>
            <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod tortor id massa ultrices, ac mattis lorem consequat.</p> -->
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Profile Information</h5>
            <hr>
            <!-- <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Enter your name">
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="Enter your email">
            </div>
            <div class="form-group">
              <label for="bio">Bio</label>
              <textarea class="form-control" id="bio" rows="5" placeholder="Tell us about yourself"></textarea>
            </div>
            <button class="btn btn-primary">Save</button> -->
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="mt-4">
              <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" formControlName="first_name">
              </div>
            
              <div class="form-group mt-2">
                <label>Last Name</label>
                <input type="text" class="form-control" formControlName="last_name">
              </div>
            
              <div class="form-group mt-2">
                <label>Email</label>
                <input type="email" class="form-control" formControlName="email">
              </div>
            
              <div class="form-group mt-2">
                <label>Image</label>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" (change)="onFileSelected($event)" accept="image/*" formControlName="image">
                  <label class="custom-file-label">{{ selectedFile?.name || 'Choose file' }}</label>
                </div>
              </div>
            
              <div class="form-group mt-2">
                <label>Github Link</label>
                <input type="url" class="form-control" formControlName="github_link">
              </div>
            
              <button type="submit" class="btn btn-primary mt-3" [disabled]="!profileForm.valid">Save</button>
            </form>
            
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Rooms</h5>
          <hr>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let room of profile?.rooms">
              <h5 role="button" style="color:cornflowerblue" (click)="gotoRoom(room?.id)">{{ room.name }}</h5>
              <div class="float-right">
                <button class="btn btn-sm btn-secondary" [disabled]="this.isDisable" (click)="editRoom(room)">Edit</button>
                <button class="btn btn-sm btn-danger ml-2 m-3" [disabled]="this.isDisable" (click)="deleteRoom(room)">Delete</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  