.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(60, 63, 71);
    height: 4rem;
    padding: 0 20px;
  }
  
  .search-box {
    display: flex;
    align-items: center;
  }
  
  .search-box input[type="text"] {
    width: 200px;
    height: 35px;
    border: none;
    border-radius: 4px;
    padding: 5px;
    margin-right: 10px;
  }
  
  .search-box button {
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
  }
  
  .profile-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .profile-dropdown .profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    background-size: cover;
  }
  
  .profile-dropdown ul {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  
  .profile-dropdown ul li {
    padding: 10px;
    cursor: pointer;
  }
  
  .profile-dropdown ul li:hover {
    background-color: rgb(230, 230, 230);
  }
  