<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: rgb(60,63,71);">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">My Website</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-person-fill"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<div class="top-bar">
    <div class="search-box">
        <input type="text" placeholder="Search">
        <button>Search</button>
    </div>
    <div *ngIf="!isLogin" class="login">
        <button (click)="logIn()">Login</button>
    </div>
    <div *ngIf="isLogin" class="profile-dropdown">
        <div (click)="toggleProfileOptions()" style="font-size:30px;color:lightblue;margin-right: 2rem;"
            class="bi bi-person"></div>
        <ul style="margin-top: 1rem;" *ngIf="isVisibleProfileOptions">
            <li (click)="gotoLoginUserProfile()">Profile</li>
            <li>Settings</li>
            <li (click)="logout()">Logout</li>
        </ul>
    </div>
</div>
